## Custom Git ignore

# IDE folder
/.idea

# Compiled library files
*.so

# Custom folders
/data
/results

/src/ordclass/libsvmrank
/src/ordclass/svorex

# Custom file extension
# *.sl
*.out

*.json

*.def
